#Dashboard-Main{
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    height: 80%;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

#Dashboard-Header-Title-Container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#Dashboard-Header-Title{
    font-size: 3rem;
    font-weight: 600;
}

#Dashboard-Header-Subtitle{
    font-size: 1.1rem;
    font-weight: 400;
}

#Dashboard-Body-Container{
    min-height: 450px;
    max-height: 450px;
    overflow-y: scroll;
    padding-right: .5rem;
}

#Dashboard-Projects-Container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}