#Header-Navigation-Container,
#Header-Brand-Container,
#Header .Header-Child-Container,
#Header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#Header{
    justify-content: space-between;
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #000000;
}

#Header-Brand-Container{
    gap: .8rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    border-right: 1px solid #000000;
}

#Header-Brand-Container:hover{
    opacity: .6;
}

#Header-Brand-Logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
}

#Header-Links-Container{
    display: flex;
    gap: 2rem;
}

#Header-Center-Container{
    width: 50%;
}

#Header #Header-Left-Container{
    justify-content: flex-start;
    width: auto;
    max-width: 50%;
}

#Header-Brand-Title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

#Header #Header-Right-Container{
    justify-content: flex-end;
    width: auto;
    max-width: 50%;
}

#Header-Navigation-Container{
    gap: 1rem;
}

@media screen and (max-width: 768px){
    #Header{
        padding: 1rem;
    }

    #Header #Header-Left-Container,
    #Header #Header-Right-Container{
        max-width: 100%;
    }
}