.Environment-Variable-Container{
    display: flex;
    align-items: center;
}

.Environment-Variable-Union{
    width: 5%;
    height: 1px;
    background-color: #101010;
}

.Environment-Variable-Key-Container,
.Environment-Variable-Value-Container{
    width: 45%;
}

.Environment-Variable-Container .Environment-Variable-Key-Container .Input-Wrapper-Container{
    background-color: #101010;
}

.Environment-Variable-Container .Input{
    font-size: .8rem;
}

.Environment-Variable-Container .Environment-Variable-Key-Container .Input{
    font-weight: bold;
    color: #FFFFFF;
}

@media screen and (max-width: 768px){
    .Environment-Variable-Container .Input{
        font-size: .7rem;
        padding: .5rem;
    }
}