.Menu-Container{
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(245, 245, 245);
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Menu-Items-Container{
    display: flex;
    padding: 1px 1rem;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.Menu-Header-Actions-Container{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.Menu-Item-Left-Container{
    display: flex;
    gap: .8rem;
    align-items: center;
}

.Quantum-Copyright-Text{
    font-size: .8rem;
}

.Menu-Bottom-Container{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
}