.Dashboard-Card-Header-Container{
    display: flex;
    overflow-x: scroll;
    border-bottom: 1px solid #dfdfdf;
}

.Dashboard-Card-Header-Container::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.Dashboard-Card-Header-Container::-webkit-scrollbar-thumb:hover{
    background-color: transparent;
}

.Dashboard-Card-Header-Item:not(:first-child){
    border-left: 1px solid #dfdfdf;
}

.Dashboard-Card-Header-Item{
    font-size: .9rem;
    padding: .2rem 1rem;
    min-width: fit-content;
}
