.Dashboard-Card-Header-Container{
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid #dfdfdf;
}

.Dashboard-Card-Header-Item:not(:first-child){
    border-left: 1px solid #dfdfdf;
}

.Dashboard-Card-Header-Item{
    font-size: .9rem;
    padding: .2rem 1rem;
    flex-shrink: 0;
    white-space: nowrap;
}
