__pycache__/
*.py[cod]

client/node_modules/
client/package-lock.json
client/dist/
client/.env

server/node_modules/
server/package-lock.json
server/.env

setup-utility/client/node_modules/
setup-utility/client/package-lock.json
setup-utility/client/dist/
setup-utility/server/venv/
setup-utility/server/__pycache__/
setup-utility/server/.requirements_hash