.Docker-Container-Body{
    padding: 0 1rem;
}

.Docker-Container-Body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Docker-Container-Name-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Docker-Container-Name{
    font-weight: 400;
}

.Docker-Container-Last-Update{
    font-size: .8rem;
}