@keyframes Circle-Runtime-Anim{
    0%{ 
        border-radius: 40% 50% 60% 50%; 
    }
    25%{ 
        border-radius: 60% 70% 47% 90%;
    }
    50%{ 
        border-radius: 42% 60% 42% 40%;
    }
    75%{ 
        border-radius: 45% 50% 45% 50%;
    }
    100%{ 
        border-radius: 38% 45% 34% 50%;
    }
}

#Circle-Content-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: Circle-Runtime-Anim 5s infinite alternate;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    height: 200px;
    width: 200px;
    background-color: #0c0c0c;
    color: #FFFFFF;
    border: 1px solid #000000;
    transition: all .1s ease-in-out;
    text-align: center;
    cursor: pointer;
}

#Circle-Content-Container:hover{
    background-color: #FFFFFF;
    color: #000000;
}

#Circle-Content-Container-Title{
    font-size: 1.5rem;
    font-weight: 600;
}