.Context-Menu-Container{
    position: absolute;
    width: 150px;
    overflow-y: scroll;
    max-height: 200px;
    z-index: 100;
    background-color: #F5F5F5;
    box-shadow: -2px 0px 14px 0px #cbcbcb;
    right: 0;
    top: 2rem;
    border-radius: .2rem;
}

.Context-Menu-Options{
    display: flex;
    flex-direction: column;
}