.Setup-Utility-Deploy-Output{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 400px;
    font-family: monospace;
    height: 500px; 
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

@media screen and (max-width: 768px){
    .Setup-Utility-Deploy-Output{
        width: 100%;
        min-height: 100px;
    }
}