.Header-Navigation-Item-Container{
    border-left: 1px solid #000000;
    display: flex;
    font-size: 1.1rem;
    cursor: pointer;
    align-items: center;
    width: max-content;
    padding: 1.7rem 3rem;
}

.Header-Navigation-Item-Container:hover{
    opacity: .6;
}

@media screen and (max-width: 768px){
    .Header-Navigation-Item-Container{
        padding: .5rem 1rem;
        font-size: .67rem;
        height: 50px;
    }
}