.Button-Message{
    font-size: .85rem;
    text-transform: uppercase;
}

.Button-Container{
    background: #1f1f1f;
    color: #FFF;
    cursor: pointer;
    padding: .5rem 1.5rem;
    width: fit-content;
    border-radius: .25rem;
    transition: .2s;
}

.Button-Container:hover{
    opacity: .8;
}

.Button-Container:active{
    transform: scale(.95);
}
