.Dashboard-Module-Header-Container{
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Dashboard-Module-Header-Left-Container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Dashboard-Module-Header-Icon-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    font-size: 1rem;
    background-color: #f6f6f6;
    border-radius: 50%;
}

.Dashboard-Module-Header-Title{
    font-weight: 400;
    font-size: 1.1rem;
}

.Dashboard-Module-Create-New-Container:hover{
    text-decoration: underline;
}

.Dashboard-Module-Create-New-Icon-Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dashboard-Module-Create-New-Title{
    font-weight: 300;
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: 0.03rem;
}

.Dashboard-Module-Create-New-Container{
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .Dashboard-Module-Header-Left-Container{
        gap: .5rem;
    }

    .Dashboard-Module-Header-Title{
        font-size: .9rem;
    }

    .Dashboard-Module-Header-Icon-Container{
        padding: .7rem;
        font-size: .8rem;
    }
}