.Welcome-Container{
    width: 300px;
    height: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    top: 0.9rem;
    left: 32rem;
    font-family: monospace;
}

.Welcome-Navigation-Container{
    font-size: .7rem;
}

.Welcome-Navigation-Container .Icon-Link-Title{
    font-size: inherit !important;
}

@media screen and (max-width: 768px){
    .Welcome-Container{
        height: auto;
        width: auto;
        left: 9rem;
        top: 6rem;
        gap: .2rem;
    }

    .Welcome-Title{
        font-size: .6rem;
    }

    .Welcome-Navigation-Container{
        font-size: .55rem;
    }
}