.Docker-Container-Header{
    display: flex;
    border-bottom: 1px solid #dfdfdf;
}

.Docker-Container-Header-Item:not(:first-child){
    border-left: 1px solid #dfdfdf;
}

.Docker-Container-Header-Item{
    font-size: .9rem;
    padding: .2rem 1rem;
}