@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    list-style-type: none;
    border: none;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    min-height: 100vh;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar{
    width: 2px;
    height: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #000000;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #000000;
}


#root, html, body{
    height: 100%;
}

.Icon-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}