#Header-Navigation-Container,
#Header-Brand-Container,
#Header .Header-Child-Container,
#Header{
    display: flex;
    align-items: center;
}

#Header{
    justify-content: space-between;
    height: 79px;
    border-bottom: 1px solid #000000;
    width: 100%;
    animation: border-width .5s ease;
}

#Hamburguer-Menu-Container{
    display: none;
}

#Header-Brand-Container{
    gap: .8rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    border-right: 1px solid #000000;
}

#Header-Brand-Container:hover{
    opacity: .6;
}

#Header-Brand-Logo{
    width: 30px;
    height: 30px;
    opacity: 1;
    border-radius: 50%;
    background-color: #000000;
}

#Header-Links-Container{
    display: flex;
    gap: 2rem;
}

#Header-Center-Container{
    width: 50%;
}

#Header #Header-Left-Container{
    justify-content: flex-start;
    width: auto;
    max-width: 50%;
}

#Header-Brand-Title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

#Header-Right-Container{
    justify-content: flex-end;
    width: auto;
    max-width: 50%;
}

#Header-Navigation-Container{
    gap: 1rem;
}

@media screen and (max-width: 768px){
    #Header{
        height: 50px;
    }

    #Hamburguer-Menu-Container{
        display: flex;
    }
    
    #Header-Brand-Title{
        font-size: 1.1rem;
    }

    #Header-Navigation-Container{
        gap: 0;
    }

    #Header-Brand-Logo{
        width: 25px;
        height: 25px;
    }

    #Header-Right-Container{
        max-width: unset;
    }

    #Header-Brand-Container{
        border-right: unset;
        padding: 0 1rem;
        gap: .5rem;
    }

    #Header-Center-Container{
        display: none !important;
    }
}