.Toast-Container{
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 500;
    background-color: rgb(255 255 255 / 50%);
    backdrop-filter: blur(2px);
    width: 350px;
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: 1px solid #dddddd;
}

@media screen and (max-width: 768px){
    .Toast-Container{
        top: unset;
        bottom: 2rem;
        width: 90%;
        right: 1rem;
        left: 1rem;
    }
}