#Banner-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    color: #F5F5F5;
    background-color: #000000;
}

#Banner-Text{
    font-size: .8rem;
    font-family: Roboto;
}