.Squared-Background-Container{
    position: absolute;
    right: 0;
    width: 60%;
    height: 80%;
    top: 0;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 3rem 3rem;
    background-position: top right; 
}

.Squared-Background-Container::after{
    content: '';
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(245, 245, 245, 1)), linear-gradient(to left, rgba(255, 255, 255, 0), rgba(245, 245, 245, 1));
    pointer-events: none;
}

@media screen and (max-width: 768px){
    .Squared-Background-Container{
        top: 80px;
    }

    .Squared-Background-Container::after{
        top: 0;
    }
}