.Input-Wrapper-Container{
    outline: 1px solid #272727;
    display: flex;
    justify-content: space-between;
}

.Input-End-Icon-Container{
    padding: .5rem;
    font-size: .95rem;
    border-left: 1px solid #000000;
}

.Input-End-Icon-Container:hover{
    background-color: #000000;
    color: #F5F5F5;
}

.Input-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .5rem;
}

.Input-Wrapper-Container input{
    padding: .5rem 1rem;
    width: 100%;
    font-size: .9rem;
    font-weight: 400;
    color: #272727;
    border: none;
    outline: none;
}

.Input-Helper-Text-Container{
    font-size: .9rem;
    opacity: .9;
}