#Repository-Deployments-Main{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 85%;
    gap: 2rem;
    flex-direction: column;
    margin: 0 auto;
}

#Repository-Deployments-Header-Title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#Repository-Deployments-Body-List{
    max-height: 500px;
    padding-right: .5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#Repository-Deployments-Header-Subtitle{
    font-size: 1.1rem;
}