#Repository-Deployments-Main #Repository-Deployments-Body-List{
    height: 100%;
    width: 700px;
    padding-right: .5rem;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}