.Header-Navigation-Item-Container{
    border-left: 1px solid #000000;
    display: flex;
    cursor: pointer;
    font-size: 1.1rem;
    align-items: center;
    padding: 1.7rem 3rem;
}

.Header-Navigation-Item-Container:hover{
    opacity: .6;
}