.Dashboard-Card-Container-Footer-Option-Icon-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dashboard-Card-Container-Footer-Option-Container[data-disabled='true']{
    cursor: not-allowed;
    opacity: .5;
}

.Dashboard-Card-Container-Footer{
    padding: 0 1rem .5rem;
    overflow-x: scroll;
}

.Dashboard-Card-Container-Footer::-webkit-scrollbar-thumb,
.Dashboard-Card-Container-Footer::-webkit-scrollbar-thumb:hover{
    background-color: #dadada;
}

.Dashboard-Card-Container-Footer-Left-Container{
    display: flex;
    gap: 1rem;
}

.Dashboard-Card-Container-Footer-Option-Container{
    cursor: pointer;
    display: flex;
    align-items: center;
    min-width: fit-content;
    gap: .5rem;
    border-radius: 1rem;
}

.Dashboard-Card-Container-Footer-Option-Container:hover{
    opacity: .8;
}

.Dashboard-Card-Container-Footer-Option-Title{
    font-size: .8rem;
}
