#Home-Page-Main{
    position: relative;
}

#Home-Presentation-Title-Container{
    position: relative;
}

#Home-Presentation-Container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem 1rem;
}

#Home-Presentation-Container-Platform-Container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 1rem;
}

#Home-Presentation-Container-Title{
    font-family: 'Bebas Neue', cursive;
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 0.13rem;
    overflow-wrap: break-word; 
    hyphens: auto; 
    word-wrap: break-word
}

#Home-Presentation-Container-Subtitle{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

#Home-Presentation-Container-Actions-Container{
    display: flex;
    gap: 1rem;  
}

#Docs-Button{
    position: absolute;
    right: 2rem;
    top: 3rem;
}

#Circle-Contained-Text-Wrapper{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

@media screen and (max-width: 768px){
    #Home-Page-Main{
        height: calc(100% - 155px);
    }

    #Docs-Button{
        top: 1rem;
        right: 1rem;
    }

    #Home-Presentation-Container-Title{
        font-size: 3.2rem;
        letter-spacing: 0;
        line-height: 3rem;
    }

    #Home-Presentation-Container{
        height: 100%;
        padding: 1rem;
    }

    #Home-Presentation-Container-Subtitle{
        display: flex;
        margin-top: 2rem;
        font-size: 1rem;
        flex-direction: column;
        gap: .8rem;
        align-items: flex-start;
    }

    #Home-Presentation-Container-Subtitle .Dashed-Container{
        font-size: .9rem;
        background-color: #000000;
        color: #FFFFFF;
    }

    #Circle-Contained-Text-Wrapper{
        display: none;
    }
}