.Dashboard-Module-Container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dfdfdf;
    border-radius: .5rem;
}

.Dashboard-Module-Header-Container{
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Dashboard-Module-Bottom-Container{
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
}

.Dashboard-Module-Bottom-Results{
    font-size: .95rem;
}

.Dashboard-Module-Body-Container{
    padding: 1rem;
}

.Dashboard-Module-Header-Left-Container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Dashboard-Module-Bottom-Results-View-All-Container{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.Dashboard-Module-Bottom-Results-View-All-Icon-Container{
    display: flex;
    align-items: center;
    justify-content: baseline;
    cursor: pointer;
}

.Dashboard-Module-Bottom-Results-View-All-Title{
    font-weight: 300;
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: 0.03rem;
}

.Dashboard-Module-Bottom-Results-View-All-Container:hover{
    text-decoration: underline;
}

.Dashboard-Module-Header-Title{
    font-weight: 400;
    font-size: 1.1rem;
}

.Dashboard-Module-Create-New-Container{
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.Dashboard-Module-Create-New-Container:hover{
    text-decoration: underline;
}

.Dashboard-Module-Create-New-Title{
    font-weight: 300;
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: 0.03rem;
}

.Dashboard-Module-Create-New-Icon-Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dashboard-Module-Header-Icon-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    font-size: 1rem;
    background-color: #e0e0e0;
    border-radius: 50%;
}