.Setup-Utility-Steps-Container{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    border-left: 1px solid #dadada;
    gap: .5rem;
}

@media screen and (max-width: 768px){
    .Setup-Utility-Left-Container{
        position: relative;
        top: 0;
    }
}