#Repository-Shell-Main{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    width: 70%;
    height: unset;
    margin: 0 auto;
}

#Repository-Shell-Title{
    font-size: 2.5rem;
}

#Repository-Shell-Body-Container{
    width: 100%;
    height: 100%;
}

#Repository-Shell{
    width: 100%;
    height: 100%;
}

#Repository-Shell-Title-Container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#Repository-Shell-Subtitle{
    font-size: 1rem;
    line-height: 1.3rem;
}

#Socket-Connection-Loading-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 768px){
    #Repository-Shell-Main{
        width: 100%;
    }
}