#Setup-Utility-Main{
    padding: 5rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
}

.Setup-Utility-Container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Setup-Utility-Header-Title{
    font-size: 1.5rem;
    font-weight: 400;
}

.Setup-Utility-Form-Container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
}

.Setup-Utility-Form-Optional-Container{
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid #dadada;
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    justify-content: space-between;
}

.Setup-Utility-Form-Optional-Container:hover{
    background-color: #f5f5f5;
}

.Setup-Utility-Form-Optional-Container:hover .Setup-Utility-Form-Optional-Title{
    text-decoration: underline;
}

.Setup-Utility-Form-Optional-Title{
    font-size: 1rem;
    font-weight: 400;
}