#Setup-Utility-Main{
    padding: 5rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
}

.Setup-Utility-Container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Setup-Utility-Header-Title{
    font-size: 1.5rem;
    font-weight: 400;
}

.Setup-Utility-Container[data-isformsubmitted='true']{
    opacity: .6;
    pointer-events: none;
}

.Setup-Utility-Form-Container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
}

@media screen and (max-width: 768px){
    #Setup-Utility-Main{
        flex-direction: column;
        gap: 2rem;
    }
}