#Setup-Utility-Main{
    padding: 5rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
}

.Setup-Utility-Container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Setup-Utility-Header-Title{
    font-size: 1.5rem;
    font-weight: 400;
}
