.Dashboard-Module-Bottom-Container{
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
}

.Dashboard-Module-Bottom-Results-View-All-Container{
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.Dashboard-Module-Bottom-Results-View-All-Icon-Container{
    display: flex;
    align-items: center;
    justify-content: baseline;
    cursor: pointer;
}

.Dashboard-Module-Bottom-Results-View-All-Title{
    font-weight: 300;
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: 0.03rem;
}

.Dashboard-Module-Bottom-Results{
    font-size: .95rem;
}

.Dashboard-Module-Bottom-Results-View-All-Container:hover{
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .Dashboard-Module-Bottom-Results{
        font-size: .8rem;
    }
}
