:host{
    display: contents;
}

.Click-Spark-Wrapper svg{
    pointer-events: none;
    position: absolute;
    rotate: -20deg;
    stroke: var(--click-spark-color, currentcolor);
}

.Click-Spark-Wrapper line{
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    transform-origin: center;
}