#Create-Repository-Main #Github-Account-Repository-List-Container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100%;
    width: 700px;
    overflow-y: scroll;
    padding-right: .5rem;
}

@media screen and (max-width: 700px){
    #Create-Repository-Main #Github-Account-Repository-List-Container{
        width: 100%;
        min-height: 320px;
        max-height: 320px;
    }
}