*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    border: none;
}

body{
    line-height: 1.5;
    background-color: var(--Secondary-Color);
    color: var(--Primary-Color);
    font-family: 'Times New Roman', Times, serif;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar{
    width: 2px;
    height: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: var(--Scrollbar-Thumb-Background-Color);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--Scrollbar-Thumb-Hover-Background-Color);
}

#QuantumCloud-ROOT, html, body{
    height: 100%;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    i{
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 768px){
    main, body{
        height: unset !important;
    }
}